body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #132014;
    color: #0f0d0d;
}

header {
    background-color: #000000;
    color: #fcfffe;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #f1e7e7;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.servico {
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    color: #fafafa;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}